body{
    padding: 0;
    margin: 0;
}
.header-section{
    background-color: black;
    color: white;
}
.parents{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.logo{
    width: 50%;
}
.logo img{
    width: auto;
    height:50px;
}
.menu-bar{
    width: 50%;
}
.menu-bar ul li{
    display: inline;
    margin: 5px;
    padding: 5px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.bg-sec{
   background-image: url(./images/bg-1.png);
   background-repeat: no-repeat;
   margin-top: 0px;
   height: 500px;
   width: auto;
}
.hello-dev{
    width: 60%;
    margin-left: 250px;
    padding: 20px;
}
.hello-dev h1{
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 120px;
}
.hello-dev p{
    text-align: center;
    color: white;
    margin-top: -30px;
    margin-right: 70px;
    margin-left: 70px; 
}
.p-b{
    width: 70%;
    margin:0 auto;
}
.header-button{
    width: 20%;
    padding: 30px;
    margin-left: 350px;
}
.button{
    padding: 10px;
    background-color: #ff9800;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: white;
}
.skill-sec{
    background-color: #101010;
}
.skill-parrents{
    display: flex;
    width: 40%;
    margin-left: 450px;
    padding: 20px;
}
.time{
    margin-bottom: -20px;
}
.skill-image-heding{
    display: flex;
    margin-top:30px;
    
}
.skill-image-heding img{
    height: auto;
    width: 50px;
}
.skill-image-heding h3{
    display: inline;
    color: white;
    margin-left: 20px;
}
.skill-paragarapgh{
 color: white;
 margin-left: 10px;
 margin-right: 30px;
}
.smart{
    margin-top: -40px;
}