body{
    padding: 0;
    margin: 0;
}
.header-section{
    background-color: black;
    color: white;
}
.parents{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.logo{
    width: 50%;
}
.logo img{
    width: auto;
    height:50px;
}
.menu-bar{
    width: 50%;
}
.menu-bar ul li{
    display: inline;
    margin: 5px;
    padding: 5px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.menu-bar ul li a:hover{
    border-bottom: 2px solid orangered;
    border-right: 2px solid blueviolet;
    padding: 5px;
    border-radius: 5px;
}
.bg-sec{
   background-image: url(./images/bg-1.png);
   background-repeat: no-repeat;
   margin-top: 0px;
   height: 500px;
   width: auto;
}
.hello-dev{
    width: 60%;
    margin-left: 250px;
    padding: 20px;
}
.hello-dev h1{
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 120px;
}
.hello-dev p{
    text-align: center;
    color: white;
    margin-top: -30px;
    margin-right: 70px;
    margin-left: 70px; 
}
.p-b{
    width: 70%;
    margin:0 auto;
}
.header-button{
    width: 20%;
    padding: 30px;
    margin-left: 350px;
}
.button{
    padding: 10px;
    background-color: #ff9800;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: white;
}

.button:hover{
    background-color: blueviolet;
    border-bottom: 5px solid orangered;
    border-right: 5px solid red;
    border-radius: 5px;
    font-weight: bold;
}
.skill-sec{
    background-color: #101010;
}
.skill-parrents{
    display: flex;
    width: 40%;
    margin-left: 450px;
    padding: 20px;
}
.time{
    margin-bottom: -20px;
}
.skill-image-heding{
    display: flex;
    margin-top:30px;
    
}
.skill-image-heding img{
    height: auto;
    width: 50px;
}
.skill-image-heding h3{
    display: inline;
    color: white;
    margin-left: 20px;
}
.skill-paragarapgh{
 color: white;
 margin-left: 10px;
 margin-right: 30px;
}
.smart{
    margin-top: -40px;
}
.porfolio{
    width: 90%;
    margin-left: 100px;
}
.porfolio h2{
    color: white;
    text-align: center;
}
.portfolio-header ul{
    margin-left: 350px;
}
.portfolio-header ul li{
    display: inline;
}
.portfolio-header ul li a{
    text-align: center;
    text-decoration: none;
    padding: 10px;
    color: white;
}
.portfolio-header ul li a:hover{
    border-bottom: 2px solid orangered;
    border-right: 2px solid blueviolet;
    padding: 5px;
    border-radius: 5px;
}

.image-galary{
    width: 90%;
    display: flex;
    margin-bottom: 80px;
}
.galary-1{
    margin-left: 250px;
    display: inline;
}
.image-1 img{
    height:350px;
    width: 250px;
    display: inline;
    box-shadow: 10px 10px 5px black;
    padding: 10px;
}
.image-2 img{
    height:350px;
    width: 250px;
    display: inline;
    box-shadow: 10px 10px 5px black;
    padding: 10px;
}
.image-3 img{
    height:200px;
    width: 250px;
    display: inline;
    box-shadow: 10px 10px 5px black;
    padding: 10px;
}
.image-4 img{
    height:200px;
    width: 250px;
    box-shadow: 10px 10px 5px black;
    padding: 10px;
    
}
.image-5 img{
    height:350px;
    width: 250px;
    box-shadow: 10px 10px 5px black;
    padding: 10px;
}
.image-6 img{
    height:350px;
    width: 250px;
    box-shadow: 10px 10px 5px black;
    padding: 10px;
}
.image-7 img{
    height:400px;
    width: 300px;
    box-shadow: 10px 10px 5px black;
    padding: 10px;
}
.image-8 img{
    height:400px;
    width: 300px;
    box-shadow: 10px 10px 5px black;
    padding: 10px;
}
#more-watch-button {
    padding: 10px;
    background-color: #ff9800;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    margin-left: 50px;
    margin-top: 50px;
    font-weight: bold;
    
}
#more-watch-button:hover{
    background-color:#305A72 ;
    border-top:5px solid orangered;
}

.contact{
    width: 80%;
    margin:0 auto;
}
.contact-heading h2{
    color: white;
    margin-left: 650px;
    margin-top: 20px;
}


.contact-form{
	max-width: 450px;
	background: #101010;
	padding: 30px;
	margin-left:300px ;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
}

.contact-form ul{
	padding:0;
	margin:0;
	list-style:none;
}

.contact-form ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
    color: white;
}
.contact-form ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;
    background-color: #263248;
    color: white;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;

}
.contact-form ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
    
}
.contact-form ul li .field-split{
	width: 49%;
}
.contact-form ul li .field-full{
	width: 100%;
}
.contact-form ul li input.align-left{
	float:left;
}
.contact-form ul li input.align-right{
	float:right;
}
.contact-form ul li textarea{
	width: 100%;
	height: 100px;
}
.contact-form ul li input[type="button"], 
.contact-form ul li input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #ff9800;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ff9800;
	box-shadow: inset 0px 1px 0px 0px #ff9800;
	background-color: #ff9800;
	border: 1px solid #ff9800;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
}
.contact-form ul li input[type="button"]:hover, 
.contact-form ul li input[type="submit"]:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}
::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
  }
  .social{
      width: 60%;
      margin: 0 auto;
  }
.social-heading h2{
    color: white;
   text-align: center;
}
.social .social-icon{
   margin-left: 230px;
}
.social-icon img:hover{
    box-shadow: 3px 5px 10px orangered;
}
footer{
    background-color: black;
    height: 50px;
}
footer p{
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 12px;
}
